* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Livvic', sans-serif;
}

/* Header */
#header {
    background-color: #014E56;
    height: 700px;
    padding-top: 73px;
    background-image: url(../img/header-left-bg.png), url(../img/header-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: center left, bottom right 100px;
}

.header-nav {
    margin-bottom: 129px;
}

.header-nav-items {
    column-gap: 80px;
}

.nav-list {
    column-gap: 40px;
}

.nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

.nav-link:hover {
    color: #F67E7E;
}

.header-btn a {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    padding: 9px 33px 11px 32px;
    border: 2px solid #fff;
    border-radius: 25px;
}

.header-btn a:hover {
    background-color: #fff;
    color: #002529;
}

.header-content {
    margin-bottom: 250px;
}

.header-title {
    width: 600px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}

.header-title span {
    color: #F67E7E;
}

.header-desc {
    width: 445px;
    height: 195px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 83px;
    position: relative;
}

.header-desc::before {
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #79C8C7;
}




/* Get Started section */
#get-started {
    background-color: #F67E7E;
    background-image: url(../img/get-started-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 76px 263px;
}

.get-started-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
    margin-right: 260px;
}

.get-started-btn {
    padding: 10px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #012F34;
    border: 2px solid #012F34;
    border-radius: 24px
}

.get-started-btn:hover {
    background-color: #012F34;
    color: #FFFFFF;
}

/* Footer */
#footer {
    background-color: #002529;
    padding: 48px 165px;
}

.footer-link {
    padding-right: 125px;
}

.footer-link img {
    margin-bottom: 25px;
}

.footer-link a {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer-link a:hover {
    color: #F67E7E;
}

.footer-contact {
    padding-right: 125px;
}

.footer-contact li {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.footer-social ul {
    justify-content: end;
    column-gap: 16px;
    margin-bottom: 51px;
}

.footer-social a:hover .footer-social img {
    color: #F67E7E;
}

.copy-right {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}