* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Livvic', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* header section */

#header {
    background-color: #014E56;
    background-image: url(../img/header-bottom-bg.png), url(../img/header-left-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right 164px, top 50% left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width: 770px) {
    #header {
        background-image: url(../img/header-bottom-bg.png);
        background-repeat: no-repeat;
        background-size: 358px;
        background-position: bottom center;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 48px;
    margin-top: 73px;
    padding: 0 91px;
}

@media screen and (max-width: 1130px) {
    .header-nav {
        padding: 0 50px;
    }
}

@media screen and (max-width: 770px) {
    .header-nav {
        padding: 0;
        margin-top: 40px;
    }
}


.logo {
    width: 160px;
    height: 40px;
    cursor: pointer;
}

@media screen and (max-width: 770px) {
    .logo {
        width: 135px;
        height: 32px;
    }
}

.nav-list {
    display: flex;
    margin-right: auto;
    margin-left: 80px;
}

@media screen and (max-width: 770px) {
    .nav-list {
        font-size: 16px;
        margin-left: 70px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 560px) {
    .nav-list {
        display: none;
    }
}

.header-nav .nav-item:first-child {
    margin-right: 41px;
}

.nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

.nav-link:hover {
    color: #F67E7E;
}

.header-btn {
    float: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    padding: 11px 30px;
    border: 2px solid #fff;
    border-radius: 25px;
}

.header-btn:hover {
    background-color: #fff;
    color: #002529;
}

@media screen and (max-width: 1050px) {
    .header-btn {
        padding: 5px 20px;
        font-size: 15px;
    }
}

@media screen and (max-width: 770px) {
    .header-btn {
        padding: 5px 18px;
    }
}

@media screen and (max-width: 560px) {
    .header-btn {
        display: none;
    }
}

.toggle {
    display: none;
}

@media screen and (max-width: 560px) {
    .toggle {
        display: block;
    }
}

.header-content {
    padding: 129px 166px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1130px) {
    .header-content {
        padding: 129px 100px 250px;
    }
}

@media screen and (max-width: 1050px) {
    .header-content {
        background-position: top 5rem left -8rem, bottom right 8rem;
        background-size: 150px, 270px;
        padding: 129px 110px 180px;
    }
}

@media screen and (max-width: 770px) {
    .header-content {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 560px) {
    .header-content {
        padding: 80px 10px 100px;
    }
}

.header-title {
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
    flex: 0 0 60%;
}

@media screen and (max-width: 1050px) {
    .header-title {
        font-size: 80px;
    }
}

@media screen and (max-width: 770px) {
    .header-title {
        font-size: 64px;
        text-align: center;
        line-height: 56px;
    }
}

@media screen and (max-width: 560px) {
    .header-title {
        font-size: 40px;
    }
}

.header-title span {
    color: #F67E7E;
}

.header-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-self: stretch;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

@media screen and (max-width: 1050px) {
    .header-desc {
        justify-content: center;
    }
}

@media screen and (max-width: 770px) {
    .header-desc {
        text-align: center;
        padding: 0 40px;
    }
}

@media screen and (max-width: 560px) {
    .header-desc {
        padding: 0 10px 150px;
    }
}

.header-desc .line {
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
}

@media screen and (max-width: 1050px) {
    .header-desc .line {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 770px) {
    .header-desc .line {
        display: none;
    }
}

.header-desc p {
    font-size: 18px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1050px) {
    .header-desc p {
        font-size: 16px;
    }
}

@media screen and (max-width: 770px) {
    .header-desc p {
        font-size: 15px;
        margin-top: 20px;
    }
}

/* Header sectioni yakullandi*/

/* Build section */

#build-section {
    background-color: #012F34;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/build-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

@media screen and (max-width: 770px) {
    #build-section {
        background-position: top right;
        background-size: 80px;
    }
}

.build {
    display: flex;
    padding: 120px 165px 140px;
}

@media screen and (max-width: 1130px) {
    .build {
        align-items: center;
    }

}

@media screen and (max-width: 1050px) {
    .build {
        flex-direction: column;
        justify-content: center;

    }
}

@media screen and (max-width: 770px) {
    .build {
        padding: 120px 105px 100px;
    }
}

@media screen and (max-width: 560px) {
    .build {
        padding: 50px 15px 100px;
    }
}

.build-title {
    flex: 0 0 40%;
}

@media screen and (max-width: 560px) {
    .build-title {
        padding-right: 50px;
    }
}

.build-line {
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
    margin: 20px 0;
}

.build-title h2 {
    font-size: 48px;
    line-height: 48px;
    margin-top: 55px;
}

@media screen and (max-width: 770px) {
    .build-title h2 {
        font-size: 32px;
        line-height: 32px;
    }
}

.build-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 125px;
}

@media screen and (max-width: 1050px) {
    .build-content {
        margin-left: 0;
    }
}

.build-content .build-item {
    display: flex;
    align-items: flex-start;
}

.build-content .build-item:nth-child(1) {
    margin-top: 72px;
}

.build-content .build-item:nth-child(2),
.build-content .build-item:nth-child(3) {
    margin-top: 27px;
}


@media screen and (max-width: 560px) {
    .build-content .build-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.build-item-img {
    margin: 5.5px 20px 0 7.5px;
}



.build-item-content {
    margin-left: 3.7px;
}

.build-item-content h3 {
    font-size: 18px;
    color: #F67E7E;
    margin: 5.5px 0;
}

.build-item-content p {
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    margin-top: 16px;
}