* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Livvic', sans-serif;
}

.container {
    max-width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
}


#header {
    width: 100%;
    background-color: #014E56;


}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 73px 0 129px;
}

.header-logo {
    width: 20%;
}

.nav {
    width: 20%;
    float: left;
}

.nav-list {
    display: flex;
    column-gap: 40px;
}

.nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

.nav-link:hover {
    color: #F67E7E;
}

.header-btn a {
    float: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 25px;
}

.header-btn a:hover {
    background-color: #fff;
    color: #002529;
}

#find {
    background-color: #014E56;
    background-image: url(../img/header-left-bg.png), url(../img/header-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right 100px;
}

.find-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 250px;
}

.find-title {
    width: 50%;
    height: 195px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}

.find-title span {
    color: #F67E7E;
}

.find-desc {
    width: 50%;
    height: 195px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 83px;
    position: relative;
}

.find-desc::before {
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #79C8C7;
}

#build-section {
    padding: 140px 0;
    background-color: #012F34;
    background-image: url(../img/build-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.build {
    display: flex;
}



.build-title {
    width: 45%;
    top: 55px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    position: relative;
}

.build-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    left: 0;
    top: -54px;
    background-color: #F67E7E;
}

.build-content {
    width: 55%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.build-item {
    display: flex;
    margin-bottom: 32px;
    column-gap: 23px;

}

.build-item-img {
    width: 72px;
    height: 72px;
}

.build-item-content h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}

.build-item-content p {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}

#stories {
    padding: 140px 0;
    background-color: #004047;
    background-image: url(../img/stories-left-top-bg.png), url(../img/stories-right-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

.stories-title {
    width: 100%;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 56px;
}

.stories-title span {
    color: #79C8C7;
}

.stories-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.stories-comment {
    height: 266px;
    background-image: url(../img/comment-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    padding: 36px 0 11px;
}

.comment-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.user-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
    margin-bottom: 2px;
}

.user-position {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.stories-comment img {
    width: 62px;
    height: 62px;
}

/* Get Started section */
#get-started {
    background-color: #F67E7E;
    background-image: url(../img/get-started-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 76px 150px;
}

.get-started-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.get-started-title h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}


.get-started-btn a {
    padding: 10px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #012F34;
    border: 2px solid #012F34;
    border-radius: 24px
}

.get-started-btn a:hover {
    background-color: #012F34;
    color: #FFFFFF;
}

/* Footer */
#footer-section {
    background-color: #002529;
    padding: 48px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info {
    display: flex;
}

.footer-link {
    padding-right: 50px;
}

.footer-link img {
    margin-bottom: 25px;
}

.footer-link ul {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.footer-link a {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer-link a:hover {
    color: #F67E7E;
}

.footer-contact {
    padding-right: 25px;
}

.footer-contact li {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.footer-social ul {
    display: flex;
    justify-content: end;
    column-gap: 16px;
    margin-bottom: 51px;
}

.footer-social a:hover .footer-social img {
    color: #F67E7E;
}

.copy-right {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    text-align: end;
}

/* RWD Media query */
/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1199.98px) {
    .footer-contact {
        padding-right: 5px;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media only screen and (max-width: 991.98px) {


    .header-title {
        text-align: center;
    }

    .header-desc {
        width: 100%;
        text-align: center;
    }

    .header-desc::before {
        display: none;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 767.98px) {
    #header {
        width: 100%;
        background-color: #014E56;
        padding: 64px 39px 0;
        background-image: url(../img/header-bottom-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
    }

    .header-nav {
        padding-top: 0;
        margin-bottom: 112px;
    }

    .header-logo img {
        width: 128px;
        height: 30px;
    }

    .header-nav-items {
        column-gap: 40px;
    }

    .header-content {
        margin: 0 auto;
    }

    .header-title {
        padding: 0;
        font-size: 64px;
        line-height: 56px;
    }
}

/*X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575.98px) {}